<% @title = "Sandrine - Posts - Admin" %>

<div class="page-header">
  <h1><%= @post.name %></h1>

  <ul class="actions">
    <li><%= link_to fa_icon("pencil") + " Editer le Post",
    edit_post_path(@post), class: "btn btn-primary" %></li>
    <li><%= link_to fa_icon("trash") + " Supprimer le Post",
    post_path(@post),
    method: :delete,
    data: { confirm: "Êtes-vous sûr.e de vouloir supprimer ce Post ?"},
    class: "btn btn-danger" %></li>
  </ul>
</div>

<h1><%= @post.name %></h1>
<p><%= @post.description %></p>
<p><%= @post.content %></p>
